@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

@layer {
  .grid_layout {
    @apply grid grid-cols-1 xl:grid-cols-[16rem_1fr]; /* Adjust 16rem to match the sidebar width */
    min-height: 100vh; /* Full viewport height */
  }
  .sidebar {
    @apply fixed top-0 left-0 z-30;
  }

  .flex_col {
    @apply flex flex-col justify-between items-center;
  }

  .flex_center_col {
    @apply flex flex-col justify-center gap-2;
  }
  .flex_center_row {
    @apply flex flex-row justify-center items-center;
  }
  .flex_row {
    @apply flex flex-row justify-evenly items-center;
  }
  .social_icon {
    @apply px-3 text-2xl text-primary-blue animate-flipHorizontal;
  }
  nav {
    @apply font-fira;
  }
  .transparent_text_home {
    @apply font-fira absolute top-[20%] opacity-10 text-white font-bold z-0 text-[16vw] lg:top-1/4;
  }

  .transparent_text_about {
    @apply font-fira absolute top-0 opacity-10 text-white font-bold z-0 text-[15vw];
  }
  .transparent_text_work {
    @apply font-fira absolute opacity-10 text-white font-bold z-0 text-[13vw] top-1/4;
  }
  .main {
    @apply overflow-x-hidden;
  }
}
.social_icon_list a:nth-child(1) .social_icon {
  animation-delay: 1s;
}
.social_icon_list a:nth-child(2) .social_icon {
  animation-delay: 2s;
}
.social_icon_list a:nth-child(3) .social_icon {
  animation-delay: 3s;
}
.social_icon_list a:nth-child(4) .social_icon {
  animation-delay: 4s;
}
.social_icon_list a:nth-child(5) .social_icon {
  animation-delay: 5s;
}

[data-theme="sunset"] .menu li a.active {
  color: #49c5b6 !important;
}

[data-theme="sunset"] .btn {
  color: white !important;
}

[data-theme="sunset"] .btn:hover {
  color: #49c5b6 !important;
  background: none !important;
}

[data-theme="sunset"] .timeline-vertical > li,
[data-theme="retro"] .timeline-vertical > li {
  --timeline-col-start: minmax(0, 0fr);
}

[data-theme="sunset"] .timeline > li,
[data-theme="retro"] .timeline > li {
  --timeline-row-start: minmax(0, 0fr);
}

[data-theme="sunset"] .indicator {
  background-color: #49c5b6;
}

[data-theme="retro"] p,
[data-theme="retro"] header,
[data-theme="retro"] ul,
[data-theme="retro"] li,
[data-theme="retro"] .card h2,
[data-theme="retro"] .skill-icon,
[data-theme="retro"] form,
[data-theme="retro"] .tab,
[data-theme="retro"] .skill-name,
[data-theme="retro"] time,
[data-theme="retro"] .sidebar-name,
[data-theme="retro"] .badge {
  color: #2e282a;
}

[data-theme="retro"] .indicator p {
  color: #ece4ca;
}

[data-theme="retro"] .transparent_text_about,
[data-theme="retro"] .transparent_text_work,
[data-theme="retro"] .transparent_text_home {
  color: transparent !important;
  -webkit-text-stroke: 2px #2e282a !important;
}

[data-theme="retro"] span .ti-cursor {
  color: #2e282a;
}

[data-theme="retro"] progress .progress {
  color: #49c5b6 !important;
}
